<h2>Выберите файл</h2>
<form [formGroup]="uploadForm" novalidate (ngSubmit)="onSubmit()">
  <input type="file" (change)="onFileChange($event)" />
  <hr/>
  <button mat-raised-button color="primary" [disabled]="!uploadForm.valid">
    <mat-icon class="icon">cloud_upload</mat-icon> Загрузить файл
  </button>
</form>