<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>RoboForex</span>
    <span class="spacer"></span>
    <button mat-button (click)="uploadDialog()">
      <mat-icon class="icon">cloud_upload</mat-icon> Загрузить файл
    </button>
  </mat-toolbar-row>
</mat-toolbar>
